version: 2.1

jobs:
  test:
    docker:
      - image: mcr.microsoft.com/playwright:v1.22.0-focal
    steps:
      - checkout
      - run:
          name: "Install dependencies"
          command: npm install
      - run:
          name: "Run tests in headed mode"
          command: npm run ci-test
      
workflows:
  version: 2
  build_and_test:
    jobs:
      - test

  daily:
    triggers:
      - schedule:
          cron: "0 7,8,9,10,11,12,13,19 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test
