version: 2.1

jobs:
  test:
    docker:
      - image: mcr.microsoft.com/playwright:v1.22.0-focal
    steps:
      - checkout
      - run: npm install
      - run: xvfb-run npx playwright test
workflows:
  version: 2
  build_and_test:
    jobs:
      - test
